# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Controller/build/*.*
Controller/build/esp32.esp32.esp32s3/Controller.ino.bin
Controller/build/esp32.esp32.esp32s3/Controller.ino.bootloader.bin
Controller/build/esp32.esp32.esp32s3/Controller.ino.elf
Controller/build/esp32.esp32.esp32s3/Controller.ino.map
Controller/build/esp32.esp32.esp32s3/Controller.ino.partitions.bin
